.itb-toc {
    border: 1px solid #ddd;
    padding: 30px 15px;
    background-color: #3b3b3b;
    margin-bottom: 50px;
}
.itb-toc-title {
    font-weight: bold;
}

.itb-toc ul,.itb-toc ol {
    list-style: none;
    padding-left: 0;
}

.itb-toc li {
    margin: 5px 0;
}

.itb-toc-h3 {
    margin-left: 30px!important;
}

.itb-toc a {
    text-decoration: none;
    color: #b91c1c;
    font-weight: bolder;
}

.itb-toc a:hover {
    text-decoration: underline;
}